/*  card-mini-avatar-----------------------------------------------------*/

.card-mini-avatar{
    padding: 5px !important;
    margin-bottom: 0px;
}
.card-mini-avatar ul{
	margin: 0px 0px 0px 0px;
    text-align: right;
}
.card-mini-avatar .card-main-container{
	width: 100%;
	height: 132px;
	float:left;
}
.card-mini-avatar .card-image-container{
	width: 55px;
    height: 55px;
    border: 1px solid #FFF;
	-webkit-border-radius: 28px;
	border-radius: 28px;
	overflow: hidden;
	float: left;
}
.card-mini-avatar .text-container{
	float: right;
    width: 100%;
    height: 55px;
    padding-left: 48px;
    margin-left: -57px;
}

.card-mini-avatar .main-title-value{
	font-size: 29px;
    padding: 0px;
    margin-top: -6px;
    margin-bottom: -8px;
}
.card-mini-avatar .card-bottom-container{
	width: 100%;
}
.card-mini-avatar .card-bottom-container-left{
	width: 50%;
	float: left;
	padding-right: 2px;
	font-size: 21px;
    margin-top: 7px;
	
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.card-mini-avatar .card-bottom-container-right{
	width: 50%;
	float: right;
	padding-left: 2px;
	text-align: right;
	-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
.card-mini-avatar .card-value-title{
	margin: -5px 0px -2px 0px;
    font-size: 18px;
}
.card-mini-avatar .card-value{
	margin: -5px 0px -4px 0px;
}
/*----------------------------------------------------------------------------*/