@charset "utf-8";
	.mapBaseSelector-btn-main
{
	background-image : url(mapBaseSelector-btn-main.png);
	background-repeat : no-repeat;
	width : 38px;
	height : 38px;
}
.mapBaseSelector-btn-close
{
	background-image : url(mapBaseSelector-btn-close.png);
	background-repeat : no-repeat;
	width : 38px;
	height : 38px;
}
