<?xml version='1.0' encoding='utf-8'?>
<widget id="com.dicomercial.dicomercial" version="1.0.10" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>dicomercial</name>
    <preference name="android-minSdkVersion" value="15" />
    <preference name="android-targetSdkVersion" value="26" />
    <preference name="android-maxSdkVersion" value="27" />
    <description>
        Directorio comercial del centro del país.
    </description>
    <author email="calvillopublicidad@gmail.com" href="http://calvillopublicidad.com">
        Calvillo Publicidad
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <icon src="www/img/logos/512w/app_imagotipo512.png" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <plugin name="cordova-plugin-call-number" spec="^1.0.1" />
    <plugin name="cordova-plugin-whitelist" spec="^1.3.3" />
    <plugin name="cordova-plugin-x-socialsharing" spec="5.1.8" />
    <engine name="android" spec="^7.1.0" />
</widget>
