@charset "utf-8";
	.sprite-mainTools-capas
{
	background-image : url(sprite-mainTools-capas.png);
	background-repeat : no-repeat;
	width : 70px;
	height : 70px;
}
.sprite-mainTools-medir
{
	background-image : url(sprite-mainTools-medir.png);
	background-repeat : no-repeat;
	width : 72px;
	height : 72px;
}
.sprite-mainTools-logo
{
	background-image : url(sprite-mainTools-logo.png);
	background-repeat : no-repeat;
	width : 414px;
	height : 104px;
}
.sprite-mainTools-close
{
	background-image : url(sprite-mainTools-close.png);
	background-repeat : no-repeat;
	width : 38px;
	height : 38px;
}
