@charset "utf-8";
	.dinamicPanel-sprite-btn-close
{
	background-image : url(dinamicPanel-sprite-btn-close.png);
	background-repeat : no-repeat;
	width : 30px;
	height : 30px;
}
.dinamicPanel-sprite-logo-mdm
{
	background-image : url(dinamicPanel-sprite-logo-mdm.png);
	background-repeat : no-repeat;
	width : 55px;
	height : 55px;
}
.dinamicPanel-sprite-logo-inegi
{
	background-image : url(dinamicPanel-sprite-logo-inegi.png);
	background-repeat : no-repeat;
	width : 55px;
	height : 55px;
}
.dinamicPanel-sprite-btn-option
{
	background-image : url(dinamicPanel-sprite-btn-option.png);
	background-repeat : no-repeat;
	width : 30px;
	height : 30px;
}
