
body{
	background: #f6f6f6;
}
.app{
	position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: #f9f9f9;
    z-index: 2;
    overflow: auto;
}

.app .header{
	position: absolute;
	display: none;
}
.app .main-content{
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
}

.app .footer{
	position: absolute;
	display: none;
}