@charset "utf-8";
	.sym_loc
{
	background-image : url(sym_loc.png);
	background-repeat : no-repeat;
	width : 42px;
	height : 43px;
}
.sym_otro
{
	background-image : url(sym_otro.png);
	background-repeat : no-repeat;
	width : 42px;
	height : 43px;
}
.sym_edo
{
	background-image : url(sym_edo.png);
	background-repeat : no-repeat;
	width : 42px;
	height : 42px;
}
.sym_mun
{
	background-image : url(sym_mun.png);
	background-repeat : no-repeat;
	width : 42px;
	height : 43px;
}
